{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react",
    "^react-router",
    "^framer-motion",
    "^tailwind-merge",
    "^clsx",
    "<THIRD_PARTY_MODULES>",
    "^@/models/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^./hooks/(.*)$",
    "^./(.*)$",
    "^./assets/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
