@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-sans: 'MS Sans Serif', sans-serif;

  /* colors */
  --color-default: #0a0a0a;
  --color-background: #fbf1c7;
  --color-background-dark: #282828;
  --color-background-admin-dark: #565656;
  --color-admin-dark: #565656;
  --color-text: #282828;
  --color-text-dark: #fbf1c7;
  --color-color-dark: #fbf1c7;
  --color-silver: #c0c0c0;
  --color-content: #d2d2d2;

  --color-primary: #fbf1c7;
  --color-primary-dark: #282828;

  --color-delete: #cc241d;
  --color-delete-dark: #fb4934;

  --color-edit: #d79921;
  --color-edit-dark: #fabd2f;

  --color-green: #98971a;
  --color-green-dark: #b8bb26;

  --color-orange: #d65d0e;
  --color-orange-dark: #fe8019;

  --color-publish: #458588;
  --color-publish-dark: #83a598;

  --color-purple: #b16286;
  --color-purple-dark: #d3869b;

  /* shadows */
  --shadow-input:
    inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  --shadow-input-dark:
    inset -1px -1px #fbf1c7, inset 1px 1px #fbf1c7, inset -1px -1px #fbf1c7,
    inset 1px 1px #fbf1c7;

  --shadow-button-admin:
    inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  --shadow-button-admin-dark:
    inset -1px -1px #565656, inset 1px 1px #0a0a0a, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;

  --shadow-button-admin-pressed:
    inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  --shadow-button-admin-pressed-dark:
    inset -1px -1px #ffffff, inset 1px 1px #565656, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;

  --shadow-nav:
    inset -1px 0 #0a0a0a, inset 1px 1px #dfdfdf, inset -2px 0 grey,
    inset 2px 2px #fff;

  --shadow-window:
    inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey,
    inset 2px 2px #fff;
  --shadow-window-dark:
    inset -1px -1px #fbf1c7, inset 1px 1px #fbf1c7, inset -1px -1px #fbf1c7,
    inset 1px 1px #fbf1c7;
}

@layer base {
  @font-face {
    font-family: 'MS Sans Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(/assets/fonts/MSSansSerif.woff) format('woff'),
      url(/assets/fonts/MSSansSeris.woff2) format('woff2');
  }

  html,
  body {
    font-family: var(--font-sans);
    overflow-x: clip;
  }

  .text-editor {
    strong {
      font-weight: bold;
    }
  }

  .ͼo {
    @apply !bg-primary dark:!bg-primary-dark;
  }

  .mdx-toolbar {
    @apply !bg-silver shadow-window dark:!bg-background-dark dark:shadow-window-dark ml-auto !w-full !max-w-64 border-2 !p-1 lowercase;

    * {
      @apply dark:!text-color-dark !bg-transparent;
    }

    button {
      @apply !rounded-none !p-0.5;
    }

    button:hover {
      @apply !shadow-button-admin dark:!shadow-button-admin-dark;
    }

    button:active,
    button[data-state='on'] {
      @apply !shadow-button-admin-pressed dark:!shadow-button-admin-pressed-dark;
    }

    button > span {
      @apply !p-0;
    }

    span {
      @apply !text-xs;
    }

    svg {
      @apply !text-default !h-4 !w-4;
    }
  }

  .mdxeditor-diff-source-wrapper {
    @apply shadow-input dark:shadow-input-dark mt-5 !p-1;
  }

  .cm-gutterElement {
    color: var(--color-text) !important;
    .dark & {
      color: var(--color-text-dark) !important;
    }
  }

  .cm-gutterElement.cm-activeLineGutter {
    background-color: var(--color-background-dark) !important;
    color: var(--color-primary) !important;
    .dark & {
      background-color: var(--color-background) !important;
      color: var(--color-primary-dark) !important;
    }
  }

  .cm-content {
    color: var(--color-text);
    .dark & {
      color: var(--color-text-dark);
    }

    .ͼ18 {
      color: var(--color-text) !important;
      .dark & {
        color: var(--color-text-dark) !important;
      }
    }

    .ͼ1d {
      color: var(--color-edit) !important;
      .dark & {
        color: var(--color-edit-dark) !important;
      }
    }

    .ͼ16 {
      color: var(--color-orange) !important;
      .dark & {
        color: var(--color-orange-dark) !important;
      }
    }

    .ͼ1c {
      color: var(--color-green) !important;
      .dark & {
        color: var(--color-green-dark) !important;
      }
    }

    .ͼ1m {
      color: var(--color-purple) !important;
      .dark & {
        color: var(--color-purple-dark) !important;
      }
    }

    .ͼ1h,
    .ͼ1i,
    .ͼ1j,
    .ͼ19 {
      @apply font-bold;
      color: var(--color-publish) !important;

      .dark & {
        color: var(--color-publish-dark) !important;
      }
    }

    .ͼ1l {
      color: var(--color-delete) !important;

      .dark & {
        color: var(--color-delete-dark) !important;
      }
    }

    /* # */
    .ͼ1h {
      @apply text-2xl;
    }

    /* ##, ###, #### */
    .ͼ1i {
      @apply text-xl;
    }

    /* #####, ###### */
    .ͼ1j {
      @apply text-lg;
    }
  }
}

@layer utilities {
  /* backgrounds */
  .bg-title-bar {
    background-image: linear-gradient(90deg, navy, #1084d0);

    .dark & {
      background-image: none;
    }
  }

  .bg-title-bar-error {
    background-image: linear-gradient(90deg, #ff2727, #ff8989);
  }

  .border-bg-title-bar {
    border-image: linear-gradient(90deg, navy, #1084d0) 1;
  }
}
